*
{
  padding:0;
  margin:0;
}

body
{
  background-color:#000;
  background-image: url("../img/bkg.png");
  background-position: center 0;
  background-repeat:no-repeat;
  background-size:1920px 1080px;
  section {
    position: absolute;
    width: 100%;
    height:100%;
    .section {
      position: absolute;
      width: 1170px;
      top: 50%;
      left:50%;
      margin: -300px -585px;
      height: 600px;
      overflow: hidden;

      .modalP {
        transition: linear .3s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 600px;
        transform: scale(1, 1);
        background: #fff;
      }
      .ng-hide {
        transition: linear .3s;
        opacity: 0;
        transform: scale(0, 0);
      }
      .slide {
        position: absolute;
        overflow: hidden;
        width: 100%;
        left: 0;
        animation-name: example;
        animation-duration: 3s;
      }

      @media screen and (max-width: 1200px) {
        width: 100%;
        top: 50%;
        left: 0;
        margin: -300px 0;
        .slide {
          position: relative;
        }
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        margin: 0;
        .slide {
          position: relative;
        }
      }
    }
  }
}

.titulo{color:#fff;cursor: pointer;}
.etiqueta
{
  height: 40px;
  width: 340px;
  background: #fff;
  line-height: 40px;
  text-align: center;
  transform: skewX(-20deg);
  cursor: pointer;
  h2
  {
    transform: skewX(20deg);
  }
}
.btn-intro
{
  position: absolute;
  bottom:100px;
  right: 85px;
}

.item
{
  position: relative;
  width: 100%;
  height: 284px;
  cursor: pointer;
  overflow: hidden;
  padding: 0 !important;
  .item-title
  {
    position: absolute;
    width:100%;
    height:50%;
    top:100%;
    background: rgba(0,0,0,.3);
    text-align: center;
    transition: top .3s linear;
  }
  &:hover
  {
    .item-title
    {
      top:50%;
    }
  }
}
/************************Animaciones*****************/


.filter
{
  background-color:rgba(0,0,0,.7);
  animation: filter .3s linear;
}

@keyframes filter {
  from {background-color:rgba(0,0,0,.0)}
  to {background-color:rgba(0,0,0,.5)}
}

/**/
.logo
{
  position: absolute;
  top:5px;
  left:10px;
}
.bar-info {
  position: absolute;
  right: 30px;
  width: 81%;
  height: 40px;
  color: #fff;
  line-height: 40px;
  background: #9C9B9B;
  top: 10px;
  transform: skewX(-20deg);
  text-indent: 30px;

  p {
    transform: skewX(20deg);
    span:nth-child(1){font-size: 12pt;}
    span:nth-child(2) {
      float: right;
      margin: 2px 40px;
      font-size: 26pt;
      cursor: pointer;
    }
  }
}

.sub-nav
{
  margin-top: 140px;
}

/*Submenu*/



