<style>
    .title-progress{color:#757575;font-size: 12pt; margin-bottom: 0 !important;}
    .bar-progress
    {
        width: 80%;
        height: 5px;
        background: #757575;
        margin:0 auto;
    }
    .active-title
    {
        color: #4BAA18;
    }
    .active-bar{
        background: #4BAA18;
    }
    .sub-item
    {
        cursor: pointer;
    }
    #infografia
    {
        position: relative;
        width: 800px;
        height: 460px;
        margin: 0 auto;
        top: 20px;
        overflow: hidden;
    }
    .pag
    {
        width: 100%;
        height:100%;
        background: #fff;
    }


</style>

<div class="jumbotron" style="height: 600px;">
    <img class="logo" src="img/logo2.png" alt="Logo Seguros Bolivar">
    <div class="bar-info">
        <p>Curso Gestión del Desempeño / <span>{{aCtrl.subtitulo}}</span> <span class="glyphicon glyphicon-question-sign"></span></p>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
            <div class="sub-item animated zoomIn">
                <p class="text-center title-progress active-title">Conceptos</p>
                <div class="bar-progress active-bar"></div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
            <div class="sub-item  animated zoomIn">
                <p class="text-center title-progress">Video</p>
                <div class="bar-progress"></div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
            <div class="sub-item animated zoomIn">
                <p class="text-center title-progress">Manos a la obra</p>
                <div class="bar-progress"></div>
            </div>
        </div>
    </div>


    <div id="infografia">
        <div id="pag1" class="pag">
            <span ng-click="a1Ctrl.saltaSlide([0,460])">baja</span>
            <img src="img/inf_1a.png" alt="">

        </div>
        <div id="pag2" class="pag">
            <span ng-click="a1Ctrl.saltaSlide([460,0])">sube</span>
            <span ng-click="a1Ctrl.saltaSlide([460,920])">baja</span>
            <img src="img/inf_1b.png" alt="">

        </div>
        <div id="pag3" class="pag">
            <span ng-click="a1Ctrl.saltaSlide([920,460])">sube</span>
            <img src="img/inf_1c.png" alt="">
        </div>
    </div>
</div>
