<div class="animated zoomIn" style="height: 600px;">
    <div id="actividad">
        <a href="#/home/a" class="cerrar">X</a>
        <div class="pag">
            <div ng-hide="a3Ctrl.acierto">
                <div class="col-md-12">
                    <br/> <br/>
                    <video id="player1" src="video/PT1.v1.mp4" width="520">
                        <source src="video/video1.mp4" type="video/mp4">
                        <source src="video/video1.ogg" type="video/ogg">
                        <source src="video/video1.webm" type="video/webm">
                    </video>
                </div>
                <div class="col-md-12">
                    <br/> <br/>
                    <div style="width: 80%;position: relative;margin: 35px auto;">
                        <h4>{{a3Ctrl.title}}</h4>
                        <br>
                        <ul>
                            <li ng-repeat="i in a3Ctrl.items" ng-click="a3Ctrl.validar($index)"><input type="radio" name="{{a3Ctrl.options[$parent.$index]}}" ng-click="a3Ctrl.cambiavalor($parent.$index,$index)"/> {{i}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="a3Ctrl.acierto">
                <h1 style="text-align: center;line-height: 500px;">{{a3Ctrl.mensaje}}</h1>
            </div>
        </div>
    </div>

</div>
