<div class="animated zoomIn" style="height: 600px;">
    <div id="actividad">
        <a href="#/home/c" class="cerrar">X</a>
        <div class="pag">
            <div ng-hide="c3Ctrl.acierto">
                <div class="col-md-12">
                    <br><br><br>
                    <video id="player1" src="video/PT1.v1.mp4" width="520" class="center-block" controls>
                        <source src="video/PT3.v1.mp4" type="video/mp4">
                        <source src="video/PT3.v1.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-md-12">
                    <div style="width: 80%;position: relative;margin: 35px auto;">
                        <h4>{{c3Ctrl.title}}</h4>
                        <br>
                        <ul>
                            <li ng-repeat="i in c3Ctrl.items" ng-click="c3Ctrl.validar($index)">{{i}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="c3Ctrl.acierto">
                <h1 style="text-align: center;line-height: 500px;">{{c3Ctrl.mensaje}}</h1>
            </div>
        </div>
    </div>

</div>
