<div class="animated zoomIn" style="height: 600px;">
    <div id="actividad">
        <a href="#/home/d" class="cerrar" style="right: 10px;">X</a>
        <div class="pag" style="overflow-y: scroll; overflow-x: hidden;">
            <h3 style="text-align: center;">{{d3Ctrl.title}}</h3>
            <div ng-hide="d3Ctrl.acierto">
                <div class="row">
                    <br><br>
                    <video id="player1" src="video/PT1.v1.mp4" width="520" class="center-block" controls>
                        <source src="video/PT3.v1.mp4" type="video/mp4">
                        <source src="video/PT3.v1.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                    <br><br>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <p style="height: 70px;" ng-repeat="concept in d3Ctrl.items.concept">{{concept}}</p>
                    </div>
                    <div class="col-md-5">
                        <p ng-repeat="concept in d3Ctrl.items.definition">
                            {{concept}}
                            <br>
                            <label  ng-repeat="opt in d3Ctrl.options">
                                &nbsp;&nbsp;&nbsp; {{opt}}. <input type="radio" name="{{d3Ctrl.options[$parent.$index]}}" ng-click="d3Ctrl.cambiavalor($parent.$index,$index)"/>
                            </label>
                        </p>
                    </div>
                </div>
                <button class="btn btn-success" style="float: right;margin: 0 90px;" ng-click="d3Ctrl.validar()">Enviar</button>
                <br>
                <span>/</span>
            </div>
            <div ng-show="d3Ctrl.acierto">
                <h1 style="text-align: center;line-height: 500px;">{{d3Ctrl.mensaje}}</h1>
            </div>
        </div>
    </div>

</div>
