<div class="animated zoomIn" style="height: 600px;">
    <a href="#/home/d" class="cerrar"><img src="img/cerrar.png" alt=""></a>
    <div id="actividad">
        <div class="pag">
            <div ng-hide="d3Ctrl.acierto">
                <br>
                <h4 style="text-indent: 70px;">{{d3Ctrl.title}}</h4>
                <br><br>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <p style="height: 70px;" ng-repeat="concept in d3Ctrl.items.concept">{{concept}}</p>
                    </div>
                    <div class="col-md-5">
                        <p ng-repeat="concept in d3Ctrl.items.definition">
                            {{concept}}
                            <br>
                            <label  ng-repeat="opt in d3Ctrl.options">
                                &nbsp;&nbsp;&nbsp; {{opt}}. <input type="radio" name="{{d3Ctrl.options[$parent.$index]}}" ng-click="d3Ctrl.cambiavalor($parent.$index,$index)"/>
                            </label>
                        </p>
                    </div>
                </div>
                <button class="btn btn-success" style="float: right;margin: 0 90px;" ng-click="d3Ctrl.validar()">Enviar</button>
                <br>
                <span>/</span>
            </div>
            <div ng-show="d3Ctrl.acierto">
                <a ng-href="#/home/{{d3Ctrl.redirect}}" ng-click="d3Ctrl.acierto = !d3Ctrl.acierto"><img class="center-block" ng-src="img/{{d3Ctrl.retro}}" alt=""></a>
            </div>
        </div>
    </div>

</div>
