<div class="animated zoomIn" style="height: 600px;">
    <a href="#/home/e" class="cerrar"><img src="img/cerrar.png" alt=""></a>
    <div id="actividad">
        <div class="pag">
            <div ng-hide="e3Ctrl.acierto">
                <br>
                <h4 style="text-indent: 70px;">{{e3Ctrl.title}}</h4>
                <br><br><br><br><br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p style="line-height: 40px; font-size: 14pt; text-align: justify;">
                                Para que nuestras conversaciones sean constructivas, se recomienda tener en cuenta 4 elementos: plantar
                                <select name='select1' ng-change='e3Ctrl.cambiarvalor()' ng-model="e3Ctrl.select1">
                                    <option value='1'>comportamientos</option>
                                    <option value='2'>impacto</option>
                                    <option value='3'>pregunta</option>
                                    <option value='4'>situación</option>
                                </select>,
                                definir la
                                <select name='select2' ng-change='e3Ctrl.cambiarvalor()' ng-model="e3Ctrl.select2">
                                    <option value='1'>comportamientos</option>
                                    <option value='2'>impacto</option>
                                    <option value='3'>pregunta</option>
                                    <option value='4'>situación</option>
                                </select>,
                                demostrar el
                                <select name='select3' ng-change='e3Ctrl.cambiarvalor()' ng-model="e3Ctrl.select3">
                                    <option value='1'>comportamientos</option>
                                    <option value='2'>impacto</option>
                                    <option value='3'>pregunta</option>
                                    <option value='4'>situación</option>
                                </select>
                                y hacer
                                <select name='select4' ng-change='e3Ctrl.cambiarvalor()' ng-model="e3Ctrl.select4">
                                <option value='1'>comportamientos</option>
                                    <option value='2'>impacto</option>
                                    <option value='3'>pregunta</option>
                                    <option value='4'>situación</option>
                                </select>
                                que permitan conocer el punto de vista del otro, y de ser necesarios, los compromisos para mejorar.
                        </p>
                    </div>
                </div>
                <br>
                <button class="btn btn-success" style="float: right;margin: 0 90px;" ng-click="e3Ctrl.validar()">Enviar</button>
            </div>
            <div ng-show="e3Ctrl.acierto">
                <a ng-href="#/home/{{e3Ctrl.redirect}}" ng-click="e3Ctrl.acierto = !e3Ctrl.acierto"><img style="position: relative;left: 160px;" ng-src="img/{{e3Ctrl.retro}}" alt=""></a>
            </div>
        </div>
    </div>

</div>
