<div class="row">
    <div class="col-md-12">
        <div class="animated zoomIn" style="height: 600px;">
            <img src="img/logo.png" class="center-block">
            <br>
            <h1 class="titulo text-center" ng-click="pCtrl.go('/nav')">CURSO</h1>
            <div class="etiqueta center-block" ng-click="pCtrl.abrirModal(estado=!estado)"><h2>Gestión de Desempeño</h2></div>
        </div>
    </div>
</div>


<div ng-show="pCtrl.bool" class="modalP">
    <button ng-click="pCtrl.abrirModal(estado=!estado)" class="btn btn-success">Cerrar</button>
</div>